<!DOCTYPE html>
<html>
<head>
  <title>JqueryApp</title>
  <%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  

</head>
<body>

<%= yield %>

</body>
</html>
